@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .headerHover {
        @apply px-2 h-[80%] flex items-center border border-transparent hover:border-white cursor-pointer duration-100;
    }
    .headerDropdown {
        @apply w-14 h-full bg-gray-200 hover:bg-gray-300 border-2 cursor-pointer duration-300 text-sm text-amazon_blue flex items-center justify-center rounded-tl-md rounded-bl-md;
    }
    .headerSearch {
        @apply w-12 h-full flex items-center justify-center bg-amazon_yellow hover:bg-[#f3a847] text-amazon_blue cursor-pointer rounded-tr-md rounded-br-md;
    }
    .headerListMenu {
        @apply absolute w-48 h-56 top-10 left-0 overflow-y-scroll overflow-x-hidden bg-white border-[1px] border-amazon_blue text-black p-2 flex-col gap-1 z-50;
    }
    .footerLink {
        @apply text-sm tracking-wide hover:text-gray-100 cursor-pointer hover:underline duration-150;
    }
    .buttonCart {
        @apply w-full font-medium text-base bg-gradient-to-tr from-yellow-400 to-yellow-200 border hover:from-yellow-300  border-yellow-500 hover:border-yellow-700 active:bg-gradient-to-bl active:from-yellow-400 active:to-yellow-500 duration-200 py-1.5 rounded-md mt-3;
    }
    .buttonCart-1 {
        @apply w-full font-medium text-base bg-gradient-to-tr from-zinc-100 to-zinc-200 border hover:from-zinc-300  border-zinc-500 hover:border-zinc-700 active:bg-gradient-to-bl active:from-zinc-400 active:to-zinc-500 duration-200 py-1.5 rounded-md mt-3;
    }
    .productLi {
        @apply text-gray-600 hover:text-black text-sm border-b-2 border-b-gray-400 hover:border-b-gray-700 flex items-center justify-end gap-2 hover:cursor-pointer duration-300 w-full;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
